configuration {
	modi: "drun,window,calc";
	width: 50;
	lines: 10;
	columns: 2;
	font: "comic sans ms 11";
	padding: 0;
	show-icons: true;
	icon-theme: "Papirus";
	separator-style: "solid";
    theme: "~/.config/rofi/themes/onedark.rasi";
}

